django
djangorestframework
django-ckeditor
django-autoslug
django-otp
django-filter
pyyaml
python-dotenv
python-decouple
psycopg2-binary
drf-yasg
drf-social-oauth2
celery
firebase_admin
google-cloud-storage
cloudinary
pytz
pandas
fast-autocomplete[levenshtein]
redis
infobip-api-python-sdk